@model PagedList.PagedList<StudentViewModel>

@{
    ViewBag.Title = "Students";
}

@if (User.IsInRole(Constants.AdminRole))
{
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-default" })
    </p>
}

@using (Html.BeginForm("Index", "Students", FormMethod.Get))
{
    <div class="form-group">
        @Html.TextBox("query", "", new { @class = "form-control col-md-4" })
        <input type="submit" class="btn btn-default" value="Search" />
    </div>
}

<table class="table table-hover">
    <tr>
        <th>
            @if ((OrderType)ViewData["order"] == OrderType.ByFirstNameAsc)
            {
                <span class="glyphicon glyphicon-arrow-up"></span>
                @Html.ActionLink("First name", "Index", new { page = Model.PageNumber, query = (string)ViewData["query"], order = (int)OrderType.ByFirstNameDesc }, new { @class = "" })
            }
            else
            {
                <span class="glyphicon glyphicon-arrow-down"></span>
                @Html.ActionLink("First name", "Index", new { page = Model.PageNumber, query = (string)ViewData["query"], order = (int)OrderType.ByFirstNameAsc }, new { @class = "" })
            }
        </th>
        <th>
            @if ((OrderType)ViewData["order"] == OrderType.ByLastNameAsc)
            {
                <span class="glyphicon glyphicon-arrow-up"></span>
                @Html.ActionLink("Last name", "Index", new { page = Model.PageNumber, query = (string)ViewData["query"], order = (int)OrderType.ByLastNameDesc }, new { @class = "" })
            }
            else
            {
                <span class="glyphicon glyphicon-arrow-down"></span>
                @Html.ActionLink("Last name", "Index", new { page = Model.PageNumber, query = (string)ViewData["query"], order = (int)OrderType.ByLastNameAsc }, new { @class = "" })
            }
        </th>
        <th>
            @Html.Display("Date")
        </th>
    </tr>

    @foreach (var item in Model)
    {
    <tr onclick="goToDetails(@item.StudentID)">
        <td>
            @Html.DisplayFor(modelItem => item.FirstMidName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnrollmentDate)
        </td>
    </tr>
    }

</table>

<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", "Students",
                new { page, query = (string)ViewData["query"], order = (int)ViewData["order"] }))
</div>
